.Background {
    margin: 0 auto;
    width: 350px;
    background-color: var(--primary_dark);
}

.Heading {
    font-size: xxx-large;
    padding-top: 2rem;
    text-align: center;
    font-family: var(--heading_font);
    color: var(--primary_light);
}

@media (min-width: 768px) {
  .Background {
    width: 600px;
  }
}

@media (min-width: 992px) {
  .Background {
    width: 600px;
  }

}