.CompleteCard {
    background-color: rgba(226, 207, 248, 0.47);
    background-size: cover;
    text-align: center;
    width: 350px;
    padding: 2rem;
    margin: 0 auto;

}

.Heading {
    font-size: xx-large;
    text-align: center;
    font-family: var(--heading_font);
    color: var(--primary_dark);
    margin-bottom: 4rem
}

.Button {
    color: var(--primary_light);
display: block;
  margin: 0 auto;
 background-color: var(--accent_pink);
 font-family: var(--heading_font);
 font-size: large;
 padding: 6px 60px;
 border-radius: 30px;
 border: none;
}
.Button:hover {
    background-color: var(--accent_red);
}

.Text {
    color: var(--primary_dark);
    font-family: var(--text_font);
    margin-bottom: 2rem;
}

.Button {
    margin-bottom: 1rem;
}


@media (min-width: 768px) {
    .GCcard {
      width: 600px;
    }
    .Heading {
        font-size: xx-large;
    }
  }

  @media (min-width: 992px) {
    .GCcard {
      width: 650px;
    }
    .Heading {
        font-size: xx-large;
    }
  }