.CompleteCard {
  background-color: var(--secondary_light);
  background-size: cover;
  text-align: center;
  width: 350px;
  padding: 2rem;

  margin: 0 auto;
  margin-top: 7rem;
}

.Heading {
  font-size: var(--heading);
  text-align: center;
  font-family: var(--heading_font);
  color: var(--primary_dark);
  margin-bottom: 4rem;
}

.Button {
  text-decoration: none !important;
  color: var(--primary_light);
  display: block;
  margin: 0 auto;
  background-color: var(--accent_pink);
  font-family: var(--heading_font);
  font-size: var(--subheading);
  padding: 6px 60px;
  border-radius: 30px;
  border: none;
  margin-bottom: 1rem;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.Button:hover {
  background-color: var(--accent_red);
  transform: scale(1.05);
}

.CompleteCard p {
  color: var(--primary_dark);
  font-family: var(--text_font);
  margin-bottom: 2rem;
  font-size: var(--body);
}

@media (min-width: 768px) {
  .CompleteCard {
    width: 550px;
  }

  .GCcard {
    width: 600px;
  }
}

@media (min-width: 992px) {
  .CompleteCard {
    width: 650px;
  }
  .GCcard {
    width: 650px;
  }
}
