.Background {
    margin: 0 auto;
    width: 350px;
    background-color: var(--primary_dark);
}

.Heading {
    font-size: xxx-large;
    padding-top: 2rem;
    text-align: center;
    font-family: var(--heading_font);
    color: var(--primary_light);
}
.btnlink {
  text-decoration: none;
}

.Button {
display: block;
margin: 0 auto;
background-color: var(--accent_pink);
font-family: var(--heading_font);
font-size: large;
padding: 6px 60px;
border-radius: 30px;
border: none;
}

.Button:hover {
  background-color: var(--accent_red);
}
@media (min-width: 768px) {
  .Background {
    width: 600px;
  }
}

@media (min-width: 992px) {
  .Background {
    width: 600px;
  }

}