.countdownWrapper{
    background-color: var(--primary_light);
    position: absolute;
    top: 0.5rem;
    left: 50%;
    translate: -50%;
    width: 100px;
    height: 3rem;
    display: grid;
    place-items: center;
    border-radius: 1rem;
}