.checkoutOplysninger {
  background-color: var(--primary_light);
  color: var(--primary_dark);
}

.checkoutH2 {
  font-family: var(--heading_font);
  text-align: center;
  font-size: var(--mobile_subheading);
  padding-top: 3rem;
}

.checkoutForm {
  display: grid;
  padding: 2rem;
  gap: 1rem;
}

.checkoutForm label {
  font-family: var(--heading_font);
  font-size: var(--mobile_subheading);
  margin-top: 1rem;
}

.checkoutForm input {
  border: none;
  background-color: var(--secondary_light);
  height: 2rem;
  width: 100%;
  font-size: var(--mobile_body);
}

.checkoutEtage {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.checkoutEtage div {
  display: grid;
}

.checkoutButtonGrid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
}

.checkoutButtonGrid button {
  border: none;
  background-color: var(--secondary_light);
  height: 2rem;
  font-family: var(--text_font);
  font-size: var(--mobile_body);
}

.checkoutOrderWrapper {
  background-color: var(--primary_dark);
}

.checkoutOrdreResume {
  background-color: var(--secondary_dark);
  margin: 2rem;
  color: var(--primary_light);
  font-family: var(--text_font);
  padding-bottom: 1rem;
  padding-top: 1rem;
}

.checkoutH3 {
  text-align: center;
}

.checkoutOrdreResumeFlex {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}

.checkoutOrdreResumeFlex p {
  font-size: var(--mobile_body);
}

.checkoutLine {
  border-top: solid var(--accent_pink);
  margin: 1rem 2rem 1rem 2rem;
}

.checkoutOrdreBottom {
  margin: 2rem;
  text-align: center;
}

.checkoutPromo {
  display: flex;
}

.checkoutPromo input {
  font-size: var(--mobile_body);
  height: 2rem;
}

.checkoutPromo button {
  background-color: var(--accent_pink);
  border: none;
  padding: 0.4rem;
  cursor: pointer;
  font-family: var(--text_font);
  font-size: var(--mobile_body);
}

.checkoutHandelsbetingelser {
  background-color: var(--secondary_light);
  display: flex;
  gap: 1rem;
  padding: 1rem;
  text-align: left;
  margin: 10% 0%;
}

.checkoutHandelsbetingelser p {
  font-size: var(--mobile_body);
}

.checkoutConfirmButton {
  background-color: var(--accent_pink);
  border: none;
  border-radius: 50px;
  font-family: var(--text_font);
  font-size: var(--mobile_subheading);
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: auto;
  cursor: pointer;
}

.checkoutConfirmButton:hover {
  background-color: var(--accent_red);
}

@media (min-width: 768px) {
  .checkoutWrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .checkoutH2 {
    font-size: var(--tablet_subheading);
  }

  .checkoutLabel {
    font-size: var(--tablet_subheading);
  }

  .checkoutInput {
    font-size: var(--tablet_body);
  }

  .checkoutButtonGrid button {
    font-size: var(--tablet_body);
  }

  .checkoutOrderWrapper {
    background-color: var(--secondary_dark);
  }
  .checkoutOrdreResumeFlex p {
    font-size: var(--tablet_body);
  }

  .checkoutPromo input {
    font-size: var(--tablet_body);
  }

  .checkoutPromo button {
    font-size: var(--tablet_body);
  }

  .checkoutConfirmButton {
    font-size: var(--tablet_subheading);
  }
}

@media (min-width: 992px) {
  .checkoutWrapper {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .checkoutH2 {
    font-size: var(--desktop_subheading);
  }
  .checkoutLabel {
    font-size: var(--desktop_subheading);
  }
  .checkoutInput {
    font-size: var(--desktop_body);
  }
  .checkoutButtonGrid button {
    font-size: var(--desktop_body);
  }
  .checkoutOrdreResumeFlex p {
    font-size: var(--desktop_body);
  }

  .checkoutPromo input {
    font-size: var(--desktop_body);
    height: 2.3rem;
  }

  .checkoutPromo button {
    font-size: var(--desktop_body);
  }

  .checkoutConfirmButton {
    font-size: var(--desktop_subheading);
  }
}
