.wrapper {
  display: grid;
  background-color: var(--primary_light);
  place-items: center;
  gap: 1rem;
  padding: 1rem;
  height: fit-content;
}
.bands {
  display: grid;
  color: var(--secondary_dark);
  background-color: transparent;
  outline: 1px solid var(--secondary_dark);
  padding: 0.5rem;
  flex-grow: 1;
  place-items: center;
  transition: all 0.1s ease-in-out;
  cursor: pointer;
}
.bands:hover{
    color: var(--primary_light);
    background-color: var(--secondary_dark);
}
.headline {
  margin: auto;
}
.bandwrapper {
  display: flex;
  max-width: 1000px;
  flex-wrap: wrap;
  gap: 1rem;
  padding: 1rem;
}
