.forsideWrapper {
  height: 100%;
}

.forsideAtags {
  text-decoration: none;
  color: var(--primary_light);
}

.forsideContent {
display: grid;
place-items: center;
padding-top: 5rem;
  height: 100vh;
  background-image: url("/frontpagebg.jpg");
  background-size: cover;
  background-position: center;
  text-align: center;
}

.forsideHeader {
  font-family: var(--heading_font);
  font-size: var(--mobile_display);
  color: var(--primary_light);
  margin-bottom: 1rem; /* Juster efter behov */
}

.forsideButton {
  padding: 1rem;
  border: none;
  border-radius: 4rem;
  font-family: var(--heading_font);
  font-size: var(--mobile_subheading);
  background-color: var(--accent_pink);
  color: var(--primary_light);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.forsideButton:hover {
  background-color: var(--accent_red);
  transform: scale(1.05);
}

.forsideBanner {
  width: 100%;
  height: 50px;
  background-color: var(--accent_pink);
  margin-top: 40px;
}

.forsideMobileGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
}

.forsideArrowLeft {
  width: 60px;
  height: 60px;
  border-bottom: 10px solid var(--primary_light);
  border-left: 10px solid var(--primary_light);
  transform: rotate(45deg);
}

.forsideArrowRight {
  width: 60px;
  height: 60px;
  border-bottom: 10px solid var(--primary_light);
  border-right: 10px solid var(--primary_light);
  transform: rotate(-45deg);
}

.forsideContentBottom {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  height: 100vh;
  background-size: cover;
  background-position: center;
  text-align: center;
}

.forsideBottomButton {
  padding: 1rem;
  margin-top: 3rem;
  border: none;
  border-radius: 4rem;
  font-family: var(--heading_font);
  font-size: 1.5rem;
  background-color: var(--accent_pink);
  color: var(--primary_light);
  cursor: pointer;
}

.forsideBottomButton:hover {
  background-color: red;
}

@media (min-width: 768px) {
  .forsideHeader {
    margin-bottom: 6rem;
    font-size: var(--tablet_display);
  }

  .forsideButton {
    font-size: var(--tablet_subheading);
  }
}

@media (min-width: 992px) {
  .forsideHeader {
    font-size: var(--desktop_display);
  }
  .forsideButton {
    font-size: var(--desktop_subheading);
  }
}
