.headerBackground {
  background-color: var(--primary_dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}
.burgerIcon {
  z-index: 10000;
}

.cartIcon {
  width: 35px;
}

.CartAndMenu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}