.menuBackground {
  display: grid;
  gap: 1rem;
  place-items: center;
  position: fixed;
  inset: 0;
  background-color: var(--primary_dark);
  z-index: 10;
transition: all 0.3s ease-out;
}
.burgerIcon{
  z-index: 100;
}
