.paymentWrapper {
  display: block;
  padding: 1rem;
  padding-top: 6rem;
}

.paymentOplysninger {
  background-color: var(--primary_light);
  color: var(primary_dark);
  margin: 0 auto;
  padding: 0.5rem;
  max-width: 400px;
}

.paymentH2 {
  font-family: var(--heading_font);
  text-align: center;
  font-size: var(--mobile_heading);
  padding-top: 3rem;
}

.paymentFormGrid {
  display: grid;
  padding: 1rem;
}

.paymentLabel {
  font-family: var(--heading_font);
  font-size: var(--mobile_subheading);
  margin-top: 1rem;
}

.paymentInput {
  border: none;
  background-color: var(--secondary_light);
  height: 2rem;
}

.paymentExpire {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  align-items: end;
}

.paymentCVC {
  display: grid;
}

.paymentCVC2 {
  place-items: top;
}

.paymentButtonContainer {
  text-align: center;
}

.paymentConfirmButton {
  background-color: var(--accent_pink);
  border: none;
  border-radius: 50px;
  font-family: var(--text_font);
  font-size: var(--mobile_subheading);
  padding: 1rem 1.5rem 1rem 1.5rem;
  margin: 1rem;
  color: var(--primary_light);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.paymentConfirmButton:hover {
  background-color: var(--accent_red);
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .paymentH2 {
    font-size: var(--tablet_heading);
  }
  .paymentOplysninger {
    max-width: 500px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  }
  .paymentLabel {
    font-size: var(--tablet_subheading);
  }
  .paymentConfirmButton {
    font-size: var(--tablet_subheading);
  }
}

@media (min-width: 992px) {
  .paymentH2 {
    font-size: var(--desktop_heading);
  }
  .paymentOplysninger {
    max-width: 650px;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    padding: 2rem;
  }
  /* .paymentWrapper {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
  } */
  .paymentLabel {
    font-size: var(--desktop_subheading);
  }
  .paymentConfirmButton {
    font-size: var(--desktop_subheading);
  }
}
