.wrapper {
  display: grid;
  row-gap: 2rem;
  column-gap: 1rem;
  place-items: center;
  grid-template-columns: repeat(3, 1fr);
  padding-inline: 1rem;
  padding-block: 2rem;
  width: min-content;
  margin: auto;
}
.wrapper > h2 {
  color: var(--primary_light);
  font-family: var(--heading_font);
  font-size: 2.5rem;
  grid-column: span 3;
}
.card {
  display: grid;
  place-items: center;
  gap: 0.75rem;
  background-color: var(--secondary_light);
  padding: 1rem;
  height: 100%;
  grid-template-rows: 1fr auto auto;
}
.name {
    color: var(--primary_dark);
    font-family: var(--heading_font);
    font-size: 1.75rem;
    text-align: center;
    line-height: 75%;
}
.venue {
  color: var(--primary_dark);
  font-family: var(--text_font);
  font-weight: 100;
  font-size: 1.5rem;
}
.time {
  display: flex;
  gap: 0.5rem;
  color: var(--primary_dark);
  font-family: var(--text_font);
  font-weight: 100;
  font-size: 1.25rem;
}
