.programSection{
display: grid;
grid-template-columns: repeat(3, 1fr);
place-items: center;
padding: 1rem;
gap: 1rem;
}
.dateHeadline {
  grid-column: 1/4;
}
.venueColumn {
  display: grid;
  gap: 1rem;
  place-items: center;
  padding: 1rem;
  outline: 1px solid black;
}