.list{
    display:grid;
    gap: 1rem;
}
.filterSection {
    display: grid;
  padding:1rem;
width: auto;
  color: var(--secondary_light);
}
.filterGroup {
  display: grid;
  gap: 0.5rem;
}
.bandList {
  display: grid;
  gap: 1rem;
  place-items: center;
}