.list{
    display:grid;
    gap: 1rem;
}
.filterSection {
    display: grid;
  padding:1rem;
width: auto;
  color: var(--secondary_light);
  gap: 1rem;
}
.filterGroup {
  display: grid;
  gap: 0.5rem;
}
.filterGroup>select{
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 1rem;
  border-right: 0.75rem solid transparent;
}
.bandList {
  display: grid;
  gap: 1rem;
  place-items: center;
  padding: 1rem;
}