.list {
  display: grid;
  gap: 1rem;
}
.filterSection {
  display: grid;
  padding: 1rem;
  color: var(--secondary_light);
  gap: 1rem;
}
.filterGroup {
  display: grid;
  gap: 0.5rem;
}
.filterGroup > select {
  padding: 0.75rem;
  font-size: var(--mobile_body);
  border-radius: 1rem;
  border-right: 0.75rem solid transparent;
}
.bandList {
  display: grid;
  gap: 1rem;
  place-items: center;
  padding: 1rem;
}
@media (min-width: 768px) {
  .bandList {
    grid-template-columns: repeat(2, 1fr);
  }
  .filterSection {
    grid-template-columns: repeat(2, 1fr);
  }
  .filterGroup > select {
    font-size: var(--tablet_body);
  }
}
@media (min-width: 992px) {
  .bandList {
    grid-template-columns: repeat(3, 1fr);
  }
  .filterGroup > select {
    font-size: var(--desktop_body);
  }
}
