.cartCard {
    border-radius: 15px;
    height: auto;
    background-color: var(--primary_light);
    padding: 1rem;
}

.header {
    display: grid;
    grid-template-columns: 3fr 1fr;
    color: var(--primary_dark);
    font-family: var(--heading_font);
    margin-bottom: 1rem;
}


.productname {
    font-family: var(--text_font);
}

.prdct {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin-bottom: 1rem;
}

.productprice{
    font-family: var(--display_font);
}