.wrapper {
  --wrapper_height:300px;
  position: absolute;
  bottom: calc(var(--wrapper_height)*-1);
  background-color: var(--primary_light);
  padding: 1rem;
  height: var(--wrapper_height);
  width: fit-content;
  right: 1rem;
  z-index: 1000;
}

.removebtn,
.closebtn {
    background: none;
    border: none;
}



.header {
    min-width: 275px;
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    color: var(--primary_dark);
    font-family: var(--heading_font);
    margin-bottom: 1rem;
    
}

.productinfo h3 {
    margin-bottom: 0.5rem;
    font-family: var(--text_font);
  
}    

.prdct {
    margin: 0 auto;
    justify-content: space-between;
    display: flex;
    margin-bottom: 1rem;
    font-family: var(--display_font);
}



.checkoutbt {
    font-family: var(--heading_font);
    color: var(--primary_light);
    border-radius: 15px;
    padding: 0.5rem;
    background-color: var(--accent_pink);
    border: none;

}
.probtn {
    text-align: center;
}

