.imageWrapper {
  display: grid;
  /* width: fit-content; */
  background-color: var(--secondary_light);
  max-width: 400px;
  height: fit-content;
  object-fit: contain;
  background-color: var(--accent_pink);
}

.wrapper {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
}

.bandContent {
  display: grid;
  gap: 1rem;
  place-items: center;
  text-align: center;
  color: var(--primary_light);
}

.bandH1 {
  color: var(--primary_light);
  font-family: var(--heading_font);
  font-size: var(--mobile_title);
}

.mobileWrapper {
  background-color: var(--secondary_light);
  justify-items: center;
}

.bandImage {
  width: 100%;
  mix-blend-mode: luminosity;
}
.logoCredits {
  color: var(--primary_dark);
  background-color: var(--secondary_light);
  padding: 1rem;
  word-break: break-all;
  text-decoration: none;
  position: absolute;
}
.bandInfo {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.deskImg {
  display: none;
}

.bandGenre {
  display: flex;
  justify-content: space-evenly;
}

.bandGenre h2 {
  font-size: var(--mobile_heading);
}

.h2Pink {
  color: var(--accent_pink);
}

.bandInfo p {
  max-width: 45ch;
  font-family: var(--text_font);
  text-align: left;
  font-size: var(--mobile_body);
}
.bandInfo > h1 {
  margin: auto;
  font-size: 4rem;
  font-family: var(--heading_font);
}
.bandGeneral {
  display: grid;
  gap: 1rem;
  padding-inline: 1rem;
  font-family: var(--heading_font);
  text-align: center;
}
.bandMembers {
  display: grid;
  gap: 0.25rem;
}

.bandMembers h3 {
  font-size: var(--mobile_subheading);
}

.bandMembers div {
  color: var(--accent_pink);
  display: grid;
  gap: 0.25rem;
  font-size: var(--mobile_subheading);
}

.ButtonBack {
  color: var(--primary_light);
  display: block;
  margin: 3rem auto;
  background-color: var(--accent_pink);
  font-family: var(--heading_font);
  font-size: var(--mobile_subheading);
  padding: 6px 60px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.ButtonBack:hover {
  background-color: var(--accent_red);
  transform: scale(1.05);
}

@media (min-width: 768px) {
  .bandContent {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 2fr 3fr;
  }
  .mobileWrapper {
    background-color: var(--primary_dark);
  }
  .bandH1 {
    text-align: center;
    font-size: var(--tablet_title);
    grid-column: 1/3;
    grid-row: 1/2;
  }
  .imageWrapper {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .bandGeneral {
    text-align: left;
    padding: 0px;
  }
  .bandGenre {
    justify-content: left;
  }

  .bandGenre h2 {
    font-size: var(--tablet_heading);
  }

  .bandMembers h3 {
    font-size: var(--tablet_subheading);
  }
  .bandInfo {
    color: var(--primary_light);
  }
  .bandInfo p {
    color: var(--primary_light);
    font-size: var(--tablet_body);
  }
  .deskImg {
    display: block;
  }
  .mobileImg {
    display: none;
  }
  .ButtonBack {
    font-size: var(--tablet_subheading);
  }
}

@media (min-width: 992px) {
  .bandH1 {
    place-content: top;
    font-size: var(--desktop_title);
  }
  .bandGenre h2 {
    font-size: var(--desktop_heading);
  }
  .bandMembers h3 {
    font-size: var(--desktop_subheading);
  }
  .bandInfo p {
    font-size: var(--desktop_body);
  }
  .ButtonBack {
    font-size: var(--desktop_subheading);
  }
}
