.imageWrapper {
  display: grid;
  /* width: fit-content; */
  background-color: var(--secondary_light);
  max-width: 400px;
  height: fit-content;
}

.wrapper {
  display: grid;
  gap: 1rem;
  padding: 1rem;
  margin: 0 auto;
}
.bandContent {
  display: grid;
  gap: 1rem;
  place-items: center;
  text-align: center;
}

.bandH1 {
  color: var(--primary_light);
  font-family: var(--heading_font);
  font-size: 2rem;
}

.mobileWrapper {
  background-color: var(--secondary_light);
}

.bandImage {
  width: 100%;
  height: auto;
  object-fit: contain;
}
.logoCredits {
  color: var(--primary_dark);
  padding: 1rem;
  word-break: break-all;
}
.bandInfo {
  display: grid;
  gap: 1rem;
  padding: 1rem;
}

.deskImg {
  display: none;
}

.bandGenre {
  display: flex;
  justify-content: space-evenly;
}

.h2Pink {
  color: var(--accent_pink);
}

.bandInfo p {
  max-width: 45ch;
  color: var(--primary_dark);
  font-family: var(--text_font);
  text-align: left;
}
.bandInfo > h1 {
  margin: auto;
  font-size: 3rem;
  font-family: var(--heading_font);
}
.bandGeneral {
  display: grid;
  gap: 1rem;
  padding-inline: 1rem;
  font-family: var(--heading_font);
  text-align: center;
}
.bandMembers {
  display: grid;
  gap: 0.25rem;
}

.bandMembers div {
  color: var(--accent_pink);
  display: grid;
  gap: 0.25rem;
}

.youMightAlso {
  display: grid;
  margin-top: 5rem;
  text-align: center;
}

.youMightAlso h1 {
  font-family: var(--heading_font);
  color: var(--primary_light);
  font-size: 2rem;
}

.youMightAlsoDiv {
  justify-content: center;
}

.youMightAlsoDiv img {
  max-width: 200px;
}

@media (min-width: 768px) {
  .bandContent {
    /* grid-template-columns: repeat(2, 1fr); */
    grid-template-columns: 2fr 3fr;
  }
  .mobileWrapper {
    background-color: var(--primary_dark);
  }
  .bandH1 {
    place-content: top;
  }
  .bandGeneral {
    text-align: left;
    padding: 0px;
  }
  .bandGenre {
    justify-content: left;
  }

  .bandInfo {
    color: var(--primary_light);
  }
  .bandInfo p {
    color: var(--primary_light);
    font-size: 1rem;
  }
  .deskImg {
    display: block;
  }
  .mobileImg {
    display: none;
  }
  .youMightAlsoDiv {
    display: flex;
    gap: 5%;
    justify-content: center;
  }
}
