.TentCard {
    background-image: url(../public/frontpagebg.jpg);
    background-size: cover;
    text-align: center;
    width: 400px;
    padding: 2rem;
    margin: 0 auto;

}

.Heading {
    font-size: xx-large;
    text-align: center;
    font-family: var(--heading_font);
    color: var(--secondary_light)
}

.H3 {
    font-family: var(--text_font);
    color: var(--primary_light);
    margin-bottom: 1rem;
}

.Info {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0px 25px;
}

.Counter {
    font-family: var(--display_font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 5px 10px;
    margin: 0 auto;
    border: var(--accent_pink) 2px solid;
    margin-bottom: 10px;
    color: var(--primary_light);
}

.Counterbtn {
    background: none;
    border: none;
    font-size: 1.2rem;
    color: var(--primary_light);

}

.alink {
    text-decoration: none;
}

.Button {
color: var(--primary_light);
display: block;
margin: 0 auto;
 background-color: var(--accent_pink);
 font-family: var(--heading_font);
 font-size: large;
 padding: 6px 60px;
 border-radius: 30px;
 border: none;
}
.Button:hover {
    background-color: var(--accent_red);
}

.Price,
.Text {
    color: var(--primary_light);
    font-family: var(--text_font);
}

.Heading,
.Button,
.Text,
.Counter {
    margin-bottom: 1rem;
}

.ChooseTent {
   
    font-family: var(--heading_font);
    margin: 4rem auto;
    text-align: center;
    width: 350px;
}

.Tentareas {
    gap: 2rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.Tentheadline {
    color: var(--secondary_light);
    font-family: var(--heading_font);
    margin-bottom: 2rem;
}

.Tentbtn {
    background-color: var(--secondary_dark);
border: solid black 1px; 
border-radius: 15px;  
padding: 25px 8px; 
color: var(--primary_light);
}

.Tentbtn:hover {
outline: solid rgb(210, 10, 217) 2px;
}


@media (min-width: 768px) {
    .TentCard {
      width: 600px;
    }
    .Heading {
        font-size: xx-large;
    }
    .Counter {
        width: 40%;
    }
    .Info {
        margin: 0 120px;
    }
  }

  @media (min-width: 992px) {
    .TentCard {
      width: 650px;
    }
    .Heading {
        font-size: xx-large;
    }
  }