.TentCard {
  background-image: url(../public/frontpagebg.jpg);
  background-size: cover;
  text-align: center;
  width: 400px;
  padding: 2rem;
  margin: 0 auto;
}

.Heading {
  font-size: var(--mobile_title);
  text-align: center;
  font-family: var(--heading_font);
  color: var(--secondary_light);
}

.h3 {
  font-family: var(--text_font);
  color: var(--primary_light);
  margin-bottom: 1rem;
  font-size: var(--mobile_subheading);
}

.Info {
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 0px 25px;
}

.Counter {
  font-family: var(--display_font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 5px 10px;
  margin: 0 auto;
  border: var(--accent_pink) 2px solid;
  margin-bottom: 10px;
  color: var(--primary_light);
}

.Counterbtn {
  background: none;
  border: none;
  font-size: var(--mobile_subheading);
  color: var(--primary_light);
}

.alink {
  text-decoration: none;
}

.Button {
  color: var(--primary_light);
  display: block;
  margin: 1rem auto;
  background-color: var(--accent_pink);
  font-family: var(--heading_font);
  font-size: var(--mobile_subheading);
  padding: 6px 60px;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}
.Button:hover {
  background-color: var(--accent_red);
  transform: scale(1.05);
}

.Price,
.Text {
  color: var(--primary_light);
  font-family: var(--text_font);
  font-size: var(--mobile_body);
}

.Heading,
.Button,
.Text,
.Counter {
  margin-bottom: 1rem;
}

.ChooseTent {
  font-family: var(--heading_font);
  margin: 4rem auto;
  text-align: center;
  width: 350px;
}

.Tentareas {
  gap: 2rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.Tentheadline {
  color: var(--secondary_light);
  font-family: var(--heading_font);
  margin-bottom: 2rem;
  font-size: var(--mobile_title);
}

.Tentbtn {
  background-color: var(--secondary_dark);
  border: solid black 1px;
  border-radius: 15px;
  padding: 25px 8px;
  color: var(--primary_light);
  font-size: var(--mobile_body);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.Tentbtn:hover {
  outline: solid rgb(210, 10, 217) 2px;
}

.spotsAvailable {
  color: var(--primary_light);
  font-size: var(--mobile_body);
  padding-top: 0.5rem;
  font-family: var(--text_font);
}

.mapsection {
  text-align: center;
}

.campingbtn {
  margin-bottom: 2rem;
  font-family: var(--heading_font);
  border: none;
  border-radius: 30px;
  padding: 1rem;
  background-color: var(--accent_pink);
  font-size: var(--mobile_body);
  cursor: pointer;
  transition: all 0.1s ease-in-out;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
  color: var(--primary_light);
}

.campingbtn:hover {
  background-color: var(--accent_red);
  transform: scale(1.05);
}

button.active {
  background-color: var(--accent_red);
}

.image {
  width: 700px;
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .TentCard {
    width: 600px;
  }
  .Heading {
    font-size: var(--tablet_title);
  }
  .h3 {
    font-size: var(--tablet_subheading);
  }
  .Price,
  .Text {
    font-size: var(--tablet_body);
  }
  .Counter {
    width: 40%;
  }
  .Counterbtn {
    font-size: var(--tablet_subheading);
  }
  .Info {
    margin: 0 120px;
  }

  .Button {
    font-size: var(--tablet_subheading);
  }

  .ChooseTent {
    width: 550px;
  }
  .Tentheadline {
    font-size: var(--tablet_title);
  }
  .Tentbtn {
    font-size: var(--tablet_subheading);
  }
  .campingbtn {
    font-size: var(--tablet_subheading);
  }
}

@media (min-width: 992px) {
  .TentCard {
    width: 650px;
  }
  .Heading {
    font-size: var(--desktop_title);
  }
  .h3 {
    font-size: var(--desktop_subheading);
  }
  .Price,
  .Text {
    font-size: var(--desktop_body);
  }
  .Counterbtn {
    font-size: var(--desktop_subheading);
  }
  .Button {
    font-size: var(--desktop_subheading);
  }

  .ChooseTent {
    width: 650px;
  }
  .Tentheadline {
    font-size: var(--desktop_title);
  }
  .Tentbtn {
    font-size: var(--desktop_subheading);
  }
  .campingbtn {
    font-size: var(--desktop_subheading);
  }
}
