

.Card1 {
    padding: 2rem;
    background-color: var(--primary_light);
    margin: 3rem;
    
}

.Heading {
    font-size: xx-large;
    text-align: center;
    font-family: var(--heading_font);
    color: var(--secondary_dark)
}

.Card2 {
    padding: 2rem;
    background-color: var(--secondary_light);
    margin: 3rem;
}

.btnlink {
    text-decoration: none;
}

.Button {
display: block;
margin: 0 auto;
 background-color: var(--accent_pink);
 font-family: var(--heading_font);
 font-size: large;
 padding: 6px 60px;
 border-radius: 30px;
 border: none;
}

.Button:hover {
    background-color: var(--accent_red);
}

.Price {
    font-family: var(--heading_font);
    color: var(--secondary_dark);
    text-align: center;
    font-size: x-large;

}

.Text {
    text-align: center;
    font-family: var(--text_font);
}

.Counter {
    font-family: var(--display_font);
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 60%;
    padding: 5px 10px;
    margin: 0 auto;
    border: var(--accent_pink) 2px solid;
    margin-bottom: 10px;
}

.Counterbtn {
    background: none;
    border: none;
    font-size: 1.2rem;
}





.Heading,
.Text,
.Price,
.Button {
  margin-bottom: 20px;
}  


@media (min-width: 768px) {
    .Heading {
        font-size: xx-large;
    }
    .Counter  {
        width: 40%;

    }
  }

  @media (min-width: 992px) {
    .Ticketcards {
        justify-content: center;
        display: flex;
    }
    .Card1 {
        height: 450px;
        margin: 2rem;
        padding: 5rem;
    }
    .Card2 {
        height: 450px;
        margin: 2rem;
        padding: 5rem;
    }
    .Text {
        width: 250px;
    }
    .Counter  {
        width: 60%;

    }
  }