.Card {
  display: grid;
  gap: 1rem;
  place-items: center;
  padding: 2rem;
  max-width: 400px;
  margin: auto;
}

.Heading {
  font-size: xx-large;
  text-align: center;
  font-family: var(--heading_font);
  color: var(--secondary_dark);
  width: 100%;
}

.btnlink {
  text-decoration: none;
}

.Button {
  display: block;
  background-color: var(--accent_pink);
  font-family: var(--heading_font);
  font-size: large;
  padding: 6px 60px;
  border-radius: 30px;
  border: none;
}

.Button:hover {
  background-color: var(--accent_red);
}

.Price {
  font-family: var(--heading_font);
  color: var(--secondary_dark);
  text-align: center;
  font-size: x-large;
}

.Text {
  text-align: center;
  font-family: var(--text_font);
}

.Counter {
  font-family: var(--display_font);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  padding: 5px 10px;
  margin: 0 auto;
  border: var(--accent_pink) 2px solid;
  margin-bottom: 10px;
}

.Counterbtn {
  background: none;
  border: none;
  font-size: 1.2rem;
}

@media (min-width: 768px) {
  .Heading {
    font-size: xx-large;
  }
  .Counter {
    width: 40%;
  }
}

@media (min-width: 992px) {
  .Card {
    height: 450px;
  }
  .Text {
    width: 250px;
  }
  .Counter {
    width: 60%;
  }
}
