.wrapper {
  display: grid;
  gap: 1rem;
  color: var(--primary_light);
  outline: 1px solid var(--primary_light);
  padding: 1rem;
  background-color: var(--secondary_dark);
  margin-top: 4rem;
}
.wrapper h3 {
  font-family: var(--text_font);
  text-align: center;
  font-size: var(--mobile_subheading);
}
.productCard {
  display: grid;
  padding: 0.5rem;
  gap: 0.25rem;
  border-bottom: 1px solid var(--primary_light);
}
.name {
  font-family: var(--text_font);
  font-size: var(--mobile_subheading);
}
.totalAndTaxes {
  display: grid;
  gap: 0.5rem;
  padding: 0.5rem;
}
.totalAndTaxes small {
  color: var(--secondary_dark);
}

@media (min-width: 768px) {
  .wrapper h3 {
    font-size: var(--tablet_subheading);
  }
  .name {
    font-size: var(--tablet_subheading);
  }
}

@media (min-width: 992px) {
  .wrapper h3 {
    font-size: var(--desktop_subheading);
  }
  .name {
    font-size: var(--desktop_subheading);
  }
}
