@import url("https://fonts.googleapis.com/css2?family=Actor&family=Ruslan+Display&display=swap");
/* TODO:
spacing variabler
eventuelt bezier
 */
:root {
  --primary_dark: #282844;
  --primary_light: #ffeafa;
  --secondary_dark: #4f4f74;
  --secondary_light: #c3b1d8;
  --accent_pink: #ea4bc8;
  --accent_red: #ff2e00;
  --heading_font: "Ruslan Display", sans-serif;
  --text_font: "Actor", sans-serif;
  --bp_tablet:768px;
  --bp_desktop:992px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--primary_dark);
  height: 100vh;
}
