/* TODO:
tilføj de rigtige fonts i deres givene properties

 */
:root{
    --primary_dark:#282844;
    --primary_light:#FFEAFA;
    --secondary_dark:#4F4F74;
    --secondary_light:#C3B1D8;
    --accent:#EA4BC8;
--heading_font:"";
--text_font:"";
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}